asgiref
certifi
charset-normalizer
coreapi
coreschema
coverage
dj-database-url
Django>=3.0,<4.0
django-cors-headers
django-extensions
django-stubs
django-stubs-ext
djangorestframework
djangorestframework-stubs
gunicorn
idna
itypes
Jinja2
MarkupSafe
mypy
mypy-extensions
psycopg2
python-dotenv
pytz
requests
sqlparse
tomli
types-Markdown
types-pytz
types-PyYAML
types-requests
types-urllib3
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
PyJWT
pinecone-client
langchain
langchain_openai
google.generativeai
google-ai-generativelanguage
google-cloud-aiplatform
web3
py-solc-x
eth_tester
anthropic
django_heroku
