anthropic
asgiref
certifi
charset-normalizer
coreapi
coreschema
coverage
dj-database-url
Django>=3.0,<4.0
django-cors-headers
django-extensions
django-stubs
django-stubs-ext
djangorestframework
djangorestframework-stubs
eth_tester
google-ai-generativelanguage
google-cloud-aiplatform
google.generativeai
gunicorn
idna
itypes
Jinja2
langchain
langchain_openai
MarkupSafe
mypy
mypy-extensions
pinecone-client
psycopg2
PyJWT
py-solc-x
python-dotenv
pytz
requests
sqlparse
tomli
types-Markdown
types-pytz
types-PyYAML
types-requests
types-urllib3
typing_extensions
tzdata
uritemplate
urllib3
web3
whitenoise
